.student-records-container {
  padding: 25px 8%;
}
.table_name {
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 500;
}
.student-records-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  border: 1px solid #2b69b2; /* Adding a border around the table */
  border-radius: 5px; /* Optional: To round the corners of the table */
}

.student-records-table .tble_kin_head,
.student-records-table .tble_kin_bd {
  padding: 12px;
  text-align: left;
  border: 1px solid #2b69b2;
}
.tble_kin_head {
  text-align: center;
}
.delete_btn_kin {
  background-color: #ff0000;
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}
.search_bar_kin_admin {
  width: 300px;
  border: 1px solid #2b69b2;
  font-size: 15px;
  padding: 3px 10px;
  border-radius: 2px;
}
.generate_report_btn {
  padding: 5px 15px;
  background-color: #2b69b2;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}
.action_set_kin_admin {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 25px 0;
}
.nav_bar_kin_admin {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 25px;
  justify-content: end;
}
.kin_admin_nav {
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 500;
}
.kin_admin_nav_active {
  color: #2b69b2;
  font-weight: bold;
}
@media (max-width: 990px) {
  .student-records-table {
    width: 100%;
    display: block;
    border-radius: 0;
    overflow-y: auto;
  }
}
