.letter_continer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.letter_card {
  text-align: center;
}
.letter_table {
  text-align: center;
  padding: 25px;
}

.letter_img {
  width: 450px;
  border-radius: 8px;
  margin: 25px 0;
  height: 450px;
}
.letter_name {
  font-size: 50px;
  letter-spacing: 3px;
  font-weight: 600;
  text-transform: uppercase;
}
.time_cpunt {
  text-align: end;
  font-size: 20px;
  font-weight: 600;
}
.leter_main_box {
  text-align: center;
}
.letter_board {
  display: flex;
  align-items: center;
  width: 450px;
  justify-content: space-between;
}
.letter_cell {
  font-size: 40px;
  padding: 10px;
  cursor: pointer;
}
.clicked_letters {
  font-weight: 600;
  color: #2b69b2;
  font-size: 35px;
  margin-bottom: 25px;
  background-color: #ccc;
  border-radius: 3px;
}

.correct_guess_modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.938); /* Dark background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.correct_guess_modal_content {
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  position: relative;
  width: 50%;
}

.correct_guess_modal .close_btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 18px;
  cursor: pointer;
  color: #333;
  background: none;
  border: none;
}

.correct_guess {
  font-size: 50px;
  color: white;
  font-weight: 600;
  margin-bottom: 25px;
}
.win_image {
  width: 300px;
  margin-bottom: 25px;
}
.try_btn {
  background-color: #2b69b2;
  border: 1px solid #2b69b2;
  color: white;
  cursor: pointer;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 10px;
}
.navgateword {
  color: white;
  font-weight: 600;
}
.result_container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 25px 15%;
  gap: 30px;
  width: 100%;
  justify-content: space-between;
}

.topic_pro {
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  color: #2b69b2;
  margin-top: 25px;
  margin-bottom: 25px;
}
.matchname {
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
}
.image_resalt {
  width: 400px;
  border-radius: 5px;
  height: 400px;
}
.task_donemgs {
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  color: #2b69b2;
  text-transform: capitalize;
}

.progress_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
.data_set_mainone {
  text-align: center;
}
.progress_circle {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.progress_circle::before {
  content: "";
  position: absolute;
  width: 180px;
  height: 180px;
  background: white;
  border-radius: 50%;
}

.progress_text {
  position: absolute;
  font-size: 50px;
  font-weight: bold;
  color: #333;
}
.result_data {
  align-items: center;
  justify-content: space-between;
  display: flex;
  padding: 0 0 40px 0;
  flex-direction: column;
  width: 40%;
  gap: 40px;
  text-align: center;
}
.new_boc {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 25px;
  align-items: start;
}
.save_btn {
  width: 100%;
  border: 1px solid #2b69b2;
  color: white;
  cursor: pointer;
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 3px;
  padding: 8px 0;
  margin-top: 35px;
  background-color: #2b69b2;
}
.next_btn {
  width: 400px;
  border: 1px solid #fdd416;
  color: white;
  cursor: pointer;
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 3px;
  padding: 8px 0;
  margin-top: 15px;
  background-color: #fdd416;
}
.topic_train {
  font-size: 20px;
  font-weight: 600;
  text-align: start;
  text-transform: capitalize;
  color: #2b69b2;
  margin-bottom: 25px;
}

@media (max-width: 990px) {
  .main_continer {
    padding: 10px;
  }
  .letter_table {
    padding: 0;
    border: 1px solid #2b69b2;
    width: 100%;
  }
  .letter_img {
    width: 60%;
    height: 50%;
    margin-bottom: 20px;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
  }
  .letter_board {
    width: 100%;
  }
  .letter_continer {
    gap: 25px;
  }
  .main_topic {
    margin-bottom: 30px;
  }
  .clicked_letters {
    font-size: 40px;
  }
  .correct_guess_modal_content {
    width: 100%;
  }
  .result_container {
    padding: 10px;
  }
}
