@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300;400;700&display=swap");
.main_continer {
  padding: 0px 10%;
  margin: 0;
  font-family: "Inria Sans", sans-serif;
}
.action_card_set {
  display: flex;
  align-items: center;
  margin-top: 50px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.main_topic {
  text-align: center;
  color: #2b69b2;
  font-size: 40px;
  font-weight: 600;
}
.smile_kni {
  width: 450px;
  margin: 0 auto;
}
.details_set {
  text-align: center;
  flex: 1;
}
.data_set_kin {
  flex: 1;
}

.camara_kni {
  width: 100%;
}
.no_word {
  text-align: center;
}
.btn_start {
  background-color: #2b69b2;
  display: flex;
  margin: 25px auto;
  border-radius: 80px;
  font-weight: 600;
  letter-spacing: 0.5px;
  font-size: 20px;
  padding: 5px 15px;
  border: 1px solid #2b69b2;
  color: white;
  cursor: pointer;
  align-items: center;
}
.image_kin_set {
  margin: 25px 0;
}
.word_name {
  text-align: center;
  font-size: 50px;
  font-weight: 600;
  margin: 0;
  margin-top: 25px;
  letter-spacing: 8px;
}
.time_count {
  text-align: end;
  margin: 20px 0;
  padding-right: 50px;
  font-weight: 600;
  color: #2b69b2;
}
.main_topic_new_sub_add {
  color: #2b69b2;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 25px;
  text-align: center;
}
.border_card_smile {
  width: 100%;
  border: 1px solid #2b69b2;
  margin: 25px 0;
  border-radius: 5px;
  flex-direction: column;
  display: flex;
  padding: 15px;
  align-items: center;
  justify-content: center;
}
.up_img_topic {
  margin-bottom: 8px;
}
.file_path {
  padding: 3px 10px;
  border-radius: 2px;
  width: 100%;
  border: 1px solid #2b69b2;
}
.new_nav_barkin {
  display: flex;
  align-items: center;
  gap: 25px;
  justify-content: start;
}

.nav_item_check {
  font-weight: 600;
  cursor: pointer;
  color: black;
}

.by_Image_Section,
.by_Camara_Section {
  display: none;
}
.by_Image_Section.active,
.by_Camara_Section.active {
  display: block;
}
.capture_btn {
  border: 1px solid #2b69b2;
  display: flex;
  font-weight: 600;
  font-size: 20px;
  padding: 5px 15px;
  border-radius: 3px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 25px;
  color: white;
  background-color: #2b69b2;
  width: 100%;
}
.upload_btn_kini {
  border: 1px solid #2b69b2;
  display: flex;
  font-weight: 600;
  font-size: 20px;
  padding: 5px 15px;
  border-radius: 3px;
  cursor: pointer;
  color: white;
  background-color: #2b69b2;
}
.uploaded_image {
  width: 100%;
  margin: 0 auto;
  background-position: center;
  border-radius: 8px;
}

.error_message {
  color: red;
  font-size: 14px;
}
.percentage_container_full_kin {
  margin: 25px 0 0 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.input_roww_smile {
  width: 100%;
  border: 1px solid #2b69b2;
  border-radius: 2px;
  padding: 2px 10px;
  font-size: 17px;
}
.progress-column {
  background-color: #2b6ab228;
  border-radius: 80px;
  width: 100%;
  height: 10px;
}
.progress_bar_kin {
  height: 10px;
  border-radius: 80px;
}
.percentage_column_data {
  display: flex;
  font-weight: 600;
  color: #2b69b2;
  font-size: 18px;
  justify-content: space-between;
  align-items: center;
}
.btn_continer_simele {
  display: flex;
  align-items: center;
  gap: 50px;
  justify-content: center;
}
.save_input_container {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
}
.result_message {
  position: fixed;
  top: 45px;
  z-index: 100000;
  font-size: 30px;
  background-color: #2b69b2;
  color: white;
  border-radius: 3px;
  padding: 5px 15px;
  margin: 0 auto;
  text-align: start;
}
